body{
    margin: 0%;
    padding: 0%;
    overflow: hidden;
}

.cabecalho{
    margin-top: -0.6%;
    position: absolute;
    height: 6%;
    width: 100%;
    background-color: rgba(37, 187, 34, 0.612);
}


.cabecalho nav {
    
    margin-top: -4%;
    align-items: center;
    margin-left: 62%;
    
}

.cabecalho input{
    color: black;
    border-color: orange;
    background-color: orange;
    font-family: Georgia;
    height: 30px;
    width: 115px;
    cursor: pointer;
}

.cabecalho h1{
    margin-left: 30%;
    font-family: Georgia;
    margin-top: 0.5%;
}

.img{
    
    position: absolute;
    margin-top: 1%;
    margin-left: 1%;
}

.fundo img{
    position: fixed;
    opacity: 0.8;
    margin-left:0%;
    margin-top: 3.5%;
    
   
}

