body{
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    background-image: url('img/apple-1867461.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    
}

.container{
    width: 100%;
    height: 100%;
}

.cabecalho{
    margin-top: -0.6%;
    position: absolute;
    height: 6%;
    width: 100%;
    background-color: rgba(37, 187, 34, 0.612);
}


.cabecalho nav {
    
    margin-top: -11.5%;
    align-items: center;
    margin-left: 62%;
    
}

.cabecalho input{
    color: black;
    border-color: orange;
    background-color: orange;
    font-family: Georgia;
    height: 30px;
    width: 115px;
    cursor: pointer;
}

.cabecalho h1{
    margin-left: 30%;
    font-family: Georgia;
    margin-top: 0.5%;
}

.img img{
    
    align-items: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 150px;
    height: 150px;
    position: absolute;
    margin-top: 1%;
    margin-left: 1%;
}

@media (max-width: 300px) {
    /* Estilos para telas menores que 768px */
    body {
        background-attachment: scroll;
    }
    
}
@media screen and (max-width: 1024px){

    .cabecalho nav {
    
        margin-top: -7%;
        align-items: center;
        margin-left: 50%;
        
    }
    
    .img img{
        
        height: 90px;
        width: 90px;
        position: absolute;
            margin-top: 0%;
            margin-left: 1%;
        }
        
        .cabecalho h1{
            margin-left: 35%;
            font-family: Georgia;
            margin-top: 1%;
            font-size: 30px;
        }
        
        .cabecalho input{
            margin-top: 20%;
            color: black;
            border-color: orange;
            background-color: orange;
            font-family: Georgia;
            height: 30px;
            width: 115px;
            cursor: pointer;
        }
        
        
    }




@media screen and (max-width: 768px){

    .cabecalho nav {
    
        margin-top: -14%;
        align-items: center;
        margin-left: 22%;
        
    }
    
    .img img{
        
        height: 90px;
        width: 90px;
        position: absolute;
            margin-top: 0%;
            margin-left: 1%;
        }
        
        .cabecalho h1{
            margin-left: 30%;
            font-family: Georgia;
            margin-top: 1%;
            font-size: 30px;
        }
        
        .cabecalho input{
            margin-top: 20%;
            color: black;
            border-color: orange;
            background-color: orange;
            font-family: Georgia;
            height: 30px;
            width: 115px;
            cursor: pointer;
        }
        
        
    }
    
    .cabecalho input{
        margin-top: 20%;
        color: black;
        border-color: orange;
        background-color: orange;
        font-family: Georgia;
        height: 30px;
        width: 115px;
        cursor: pointer;
    }
    @media screen and (max-width: 425px){
        
        .img img{
            
            height: 90px;
            width: 90px;
            position: absolute;
            margin-top: 0%;
            margin-left: 1%;
        }
        
        .cabecalho h1{
            margin-left: 30%;
            font-family: Georgia;
            margin-top: 3%;
            font-size: 20px;
        }
        
        .cabecalho input{
            margin-top: 20%;
            color: black;
            border-color: orange;
            background-color: orange;
            font-family: Georgia;
            height: 30px;
            width: 115px;
            cursor: pointer;
        }
        
        
    }
    @media screen and (max-width: 375px){
    
        .img img{
            
            height: 90px;
            width: 90px;
            position: absolute;
            margin-top: 0%;
            margin-left: 1%;
        }
    
        .cabecalho h1{
            margin-left: 30%;
            font-family: Georgia;
            margin-top: 3%;
            font-size: 20px;
        }
}
@media screen and (max-width: 320px){

    .img img{
        
        height: 90px;
        width: 90px;
        position: absolute;
        margin-top: 0%;
        margin-left: 1%;
    }

    .cabecalho h1{
        margin-left: 30%;
        font-family: Georgia;
        margin-top: 3%;
        font-size: 15px;
    }

    .cabecalho input{
        margin-top: 20%;
        color: black;
        border-color: orange;
        background-color: orange;
        font-family: Georgia;
        height: 30px;
        width: 115px;
        cursor: pointer;
    }


}
